.gwagwa {
  padding-top: 50px;
  padding-bottom: 30px;
}
.nkoko {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #0b1644;
  cursor: pointer;
}
.overdem {
  color: #0b1644;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 2px solid #0b1644;
}
.lexxx {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #0b1644;
}
.nettoyou {
  color: #0b1644;
  font-size: 25px;
}
